<p><strong><%= @restaurant.name %></strong></p>
    <li><%= @restaurant.address %></li>
    <li><%= @restaurant.category %></li>
<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
<br>
